# VCDN / Vdohide Video CDN API Key
VCDN_API_KEY=vcdn_sk_52d9f7dde716455a9ee139c1d0a4a03a12db7b28b9eacf65

# Cloudinary Storage Configuration (Alternativa 1 para upload direto de vídeos)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
